body {
    background: url(../images/field.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

body, html {
    height: 100%;
    color: white;
    margin: 0;
  }

body {
    /* background-color: black; */
}

.border-bottom {
    border-bottom: 4px solid #dee2e6!important
}

#answers_form {
    font-size : 1.5em;
}

.form-check-input {
    margin-top : 12px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}